<%= stylesheet_link_tag 'teams' %>
<img src="<%= asset_path("flags/" + @team.country_code + ".png") %>" class="flag" >

<h1 class="teamname">
  <% if @team.url != "" %>
    <a href="<%= @team.url %>"><%= @team.name %></a>
  <% else %>
    <%= @team.name %>
  <% end %>
</h1>
<br>

Scrim Requests:

<table class="scrims" id="scrim-requests">
  <tbody>
    <%= render partial: "./scrims/scrim", collection: @requests %>
  </tbody>
</table>


Scrim Challenges:

<table class="scrims" id="scrim-challenges">
  <thead>
    <tr>
      <th>Team</th>
      <th>Date & Time</th>
      <th>Server</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "./scrims/scrim", collection: @challenges %>
  </tbody>
</table>

<%= render partial: "./scrims/new_scrim" %>

<h2 class="roster-title">Roster:</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name:</th>
    </tr>
  </thead>
  <tbody>
  <% @team.players.each do |player| %>
    <tr>
      <td><img class="avatar" src="<%= player.avatar_url%>" ></td>
      <td><%= player.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

