<form action="<%= scrims_url %>" method="post" id="scrim-request" data-remote="true">

  <table>
    
    <tbody>
      <tr>
        
  <td><label>Team:</td>
    <td>
    <select name="scrim[team2_id]">
      <% Team.order("LOWER(name)").each do |team| %>
        <% next if current_user.team == team %>
        <option value="<%= team.id %>"><%= team.name%></option>
      <% end %>
    </select>
  </td>
  </label>
  
  </tr>
  
  <tr>
  <td><label>Date &amp; Time:  </label></td>
  <td>
    <input name="scrim[date]" type="date" min="<%= Time.now.strftime('%Y-%m-%d') %>">
    <input type="time" name="scrim[time]">
  </td>
  
  </tr>
  
  <tr>
    <td>
  <label>Server:</td>
    <td>
    <select name="scrim[server]">
      <% Server.order("LOWER(name)").each do |server| %>
        <option value="<%= server.name%>"><%= server.name%></option>
      <% end %>
    </select>
  </td>
  </label>
  
  </tr>
  
  <tr><td>
  <input type="submit" value="Request Scrim">
  <input type="hidden" value="<%= form_authenticity_token %>"                            name="authenticity_token">
</td>
</tr>
  </table>
</form>

<script>

$(document).ready(function(){
  
  $("#scrim-request").on("ajax:success", function(event, data){

    $("#scrim-challenges").append(data);
  });
});
  
</script>