<h2 class="league-name"><%= @league.name %></h2>
<br>
<%= paginate @league_matches %>
<table id="overview">
  <thead>
    <tr>
      <th class="team">Radiant Team</th>
      <th class="heroes">Radiant Heroes</th>
      <th class="team">Dire Team</th>
      <th class="heroes">Dire Heroes</th>
    </tr>
  </thead>
  <tbody>
  <% @league_matches.each do |match| %>
    <tr class="match-overview" href="<%= match_path(match) %>">
      <td>
          <%= match.radiant_team ? match.radiant_team.name : "Radiant" %>
          <%= render partial: "simple_side", locals: {match: match, startIndex: 0, endIndex: 4} %>
      </td>
      <td>
          <%= match.dire_team ? match.dire_team.name : "Dire" %>
          <%= render partial: "simple_side", locals: {match: match, startIndex: 128, endIndex: 132} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>