<!DOCTYPE html>
<html>
<head>
  <title>DotaNexus</title>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="wrapper">
<div class="container"><ul class="menu">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">Fixtures</a></li>
<li><a href="<%= roster_path %>">Roster</a></li>
<li><a href="#">Stats</a></li>
<li><a href="#">Scout</a></li>
<li><a href="#">Community</a></li>
</ul>

<% if user_signed_in? %>
<ul class="menu" id="logout">
  <li><a href=" <%= destroy_user_session_path %>  ">Logout</a></li>
</ul>
<% end %>

</div>
</div>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
